
.navbar{
  position: fixed;
  z-index: 1;
  width: 100%;
}

a,
form{
  font-family: 'Dosis', sans-serif;
}


.carousel-caption{
  justify-content: center;
  text-align: left;
}

.carousel-caption{
  font-family: 'Spectral SC', serif;
  font-size: 80px;
}
.carousel-caption h1{
  font-size: 60px;
 background-color: black; opacity: 0.5;
}

.carousel-caption p{
  font-size: 40px;
}

.articulo{
  padding: 50px;
}
.articulo img{
  align-items: center;
  border-radius: 50%;
  width: 180px;
  padding: 20px;
}

.articulo h2{
  font-family: 'Cinzel', serif;
}
.articulo p{
  font-family: 'News Cycle', sans-serif;
}
article.extras{
  background-image: url();
}
